<div class="todos">
    <!-- Form Section -->
    <form [formGroup]="todoForm" (submit)="addTodo()">
        <label for="inputTitle">Title</label>
        <input type="text" name="input-title" placeholder="Enter your title..." class="todo-input" id="inputTitle"
            formControlName="inputTitle" />
        <p class="lblError"
            *ngIf="todoForm.get('inputTitle').hasError('minlength') && !todoForm.get('inputTitle').pristine"> Title must
            be at least 2 characters long!
        </p>
        <p class="lblError"
            *ngIf="todoForm.get('inputTitle').hasError('required') && !todoForm.get('inputTitle').pristine">
            Title is required!
        </p>
        <label for="inputDescription">Description</label>
        <input type="text" name="input-description" placeholder="Please enter your description..." class="todo-input"
            id="inputDescription" formControlName="inputDescription" />
        <p class="lblError"
            *ngIf="todoForm.get('inputDescription').hasError('minlength') && !todoForm.get('inputDescription').pristine">
            Description must be at least 5 characters long!
        </p>
        <p class="lblError"
            *ngIf="todoForm.get('inputDescription').hasError('required') && !todoForm.get('inputDescription').pristine">
            Description is required!
        </p>
        <label for="inputDueDate">Due Date</label>
        <input type="date" name="input-duedate" placeholder="Please select your due date..." class="todo-date"
            id="inputDueDate" formControlName="inputDueDate" />
        <p class="lblError"
            *ngIf="todoForm.get('inputDueDate').hasError('required') && !todoForm.get('inputDueDate').pristine">
            Date is required
        </p>
        <br>
        <br>
        <h3 class="tag-title">Tags:</h3>
        <div *ngFor="let tag of tags">
            <input type="checkbox" name="{{tag.name}}" id="input{{tag.name}}" formControlName="input{{tag.name}}">
            <label class="checkboxLabel" for="input{{tag.name}}">{{tag.name}}</label>
        </div>
        <br>
        <button type="submit" class="todo-submit" [disabled]="todoForm.invalid">Submit</button>
    </form>
    <!-- End of form section -->

    <!-- Todo List Section -->
    <div class="heading">
        <h2 class="todo-heading">Todo List</h2>
    </div>

    <!-- Sorting Section -->
    <div class="sort-div">
        <h2>Sort by: </h2>
        <button class="sort-btn" (click)="setOrderByKey('title')">Title</button>
        <button class="sort-btn" (click)="setOrderByKey('duedate')">Sort by date</button>
    </div>
    <div class="sort-div">
        <h2> Filter by Tag:</h2>
        <div *ngFor="let tag of tags">
            <button class="sort-btn" (click)="tagFilter(tag.name)" name="{{tag.name}}">{{tag.name}}</button>
        </div>
        <button class="sort-btn" (click)="resetFilter()">Reset</button>
    </div>
    <!-- End of sort Section -->

    <!-- Table Section -->
    <div class="table-header">
        <h3 class="id">Number</h3>
        <h3 class="title">Title</h3>
        <h3 class="content">Desctiption</h3>
        <h3 class="content"> DateDue</h3>
        <h3 class="content">Tags</h3>
        <h3 class="delete">Remove</h3>
    </div>
    <div *ngFor="let todo of todos |filter: searchTag |sort: orderByKey ; let i = index;"
        class="todo {{ (todo.completed ? 'done': '') }}">
        <div class="id">{{ i + 1 }}</div>
        <div class="title"> {{ todo.title }}</div>
        <div class=" content">{{ todo.content }}</div>
        <div class=" content">{{ todo.duedate | date }}</div>
        <div class=" tags">
            <div *ngFor="let tag of todo.itemTags;">
                <div class=" content">{{ tag.name }}</div>
            </div>
        </div>
        <button class=" delete" (click)="deleteTodo(i)">Remove</button>
    </div>
    <!-- End of Table Section -->
</div>