<div class="todos">
    <!-- Form Section -->
    <form (submit)="addTodo()">
        <input type="text" name="input-title" minlength="2" ng-required="true" placeholder="Enter your title..."
            class="todo-input" [(ngModel)]="inputTitle" #title='ngModel' />
        <div *ngIf="title.invalid && (title.dirty)">
            <p *ngIf="title.errors.required">Title is required</p>
            <p *ngIf="title.errors.minlength">Title must be at least 2 characters long!</p>
        </div>

        <input type="text" name="input-description" minlength="5" ng-required="true"
            placeholder="Please enter your description..." class="todo-input" [(ngModel)]="inputDescription"
            #desc='ngModel' />
        <div *ngIf="desc.invalid && (desc.dirty)">
            <p *ngIf="desc.errors.required">Description is required</p>
            <p *ngIf="desc.errors.minlength">Desctiption must be at least 5 characters long!</p>
        </div>

        <input type="date" name="input-duedate" ng-required="true" placeholder="Please select your due date..."
            class="todo-date" [(ngModel)]="inputDueDate" />
        <br>
        <br>
        <h3>Tags:</h3>

        <div *ngFor="let item of tags">
            <input type="checkbox" name="{{item.name}}" (change)="onChange()" [(ngModel)]="item.isSelected">
            <label>{{item.name}}</label>
        </div>
        <button type="submit" class="todo-submit">Submit</button>
    </form>
    <!-- End of form section -->

    <!-- Todo List Section -->
    <div class="heading">
        <h2 class="todo-heading">Todo List</h2>
    </div>

    <!-- Sorting Section -->
    <div class="sort-div">
        <h2>Sort by: </h2>
        <button class="sort-btn" (click)="filterTodoAlph()">Title</button>
        <button class="sort-btn" (click)="filterTodoDate()">Sort by date</button>
    </div>
    <div class="sort-div">
        <h2> Sort by Tag:</h2>
        <div *ngFor="let item of tags">
            <button class="sort-btn" (click)="tagFilter(item.name)" name="{{item.name}}">{{item.name}}</button>
        </div>
        <button class="sort-btn" (click)="resetFilter()">Reset</button>
    </div>
    <!-- End of sort Section -->

    <!-- Table Section -->
    <div class="table-header">
        <h3 class="id">Number</h3>
        <h3 class="title">Title</h3>
        <h3 class="content">Desctiption</h3>
        <h3 class="content"> DateDue</h3>
        <h3 class="content">Tags</h3>
        <h3 class="delete">Remove</h3>
    </div>
    <div *ngFor="let todo of todos |filter:searchTag ; let i = index;" class="todo {{ (todo.completed ? 'done': '') }}">
        <div class="id">{{ i + 1 }}</div>
        <div class="title"> {{ todo.title }}</div>
        <div class=" content">{{ todo.content }}</div>
        <div class=" content">{{ todo.duedate | date }}</div>
        <div class=" tags">
            <div *ngFor="let item of todo.itemTags; let j = index">
                <div class="content">{{ todo.itemTags[j].name }}</div>
            </div>
        </div>
        <button class=" delete" (click)="deleteTodo(i)">Remove</button>
    </div>
    <!-- End of Table Section -->
</div>